/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2017, 5:49:07 PM
    Author     : tomjacques
*/

.button {
    -fx-background-color: gold; 
    -fx-text-fill: black;
}

.label {
    -fx-text-fill: yellow;
}

.table-view:row-selection {
    -fx-background-color:#00ccff
}

.text-field {
    -fx-background-color: #99ffff;
}



.radio-button {
    -fx-text-fill: yellow;
}

.table-view:row-selection .column-header-background .nested-column-header .table-column .label {
    -fx-background-color: #666666;
}